
.svg-common 
  background-image url(sprite/svg-sprite.svg)
  display inline-block
  background-repeat no-repeat

// i.svg-common.svg-arrLeft
$varcoords = 0 0 28px 59px;
.svg-arrLeft
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-arrRight
$varcoords = 29.78723404255319% 0 30px 59px;
.svg-arrRight
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-blogger
$varcoords = 63.73626373626374% 0 33px 33px;
.svg-blogger
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-facebook
$varcoords = 100% 0 33px 33px;
.svg-facebook
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-gplus
$varcoords = 0 100% 33px 33px;
.svg-gplus
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-twitter
$varcoords = 36.26373626373626% 100% 33px 33px;
.svg-twitter
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-youtube
$varcoords = 72.52747252747253% 100% 33px 33px;
.svg-youtube
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

