
.svg-common 
  background-image url(sprite/svg-sprite.svg)
  display inline-block
  background-repeat no-repeat

// i.svg-common.svg-fb-ico
$varcoords = 0 0 10px 20px;
.svg-fb-ico
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-gplus-ico
$varcoords = 100% 0 18px 17px;
.svg-gplus-ico
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-password_ico
$varcoords = 38.888888888888886% 90.9090909090909% 12px 13px;
.svg-password_ico
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-twitter-ico
$varcoords = 35.714285714285715% 0 20px 17px;
.svg-twitter-ico
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-username_ico
$varcoords = 0 100% 14px 15px;
.svg-username_ico
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

