<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Test task for Husky Jam

    //- Responsive
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name="HandheldFriendly" content="true")

    //- Styles
    link(rel="stylesheet", href="css/styles.css")


  body
    header
      .container
        a(href="#").logo
          i.s-global.s-logo


    //- Javascript
    script(src='js/app.js')
