@import 'partials/normalize.styl'
@import 'partials/mixins.styl'
@import 'partials/variables.styl'
@import 'partials/svg-sprite.styl'
@import 'partials/svg-sprite.styl'
@import 'partials/png-sprite.styl'

// Lost grid setups
// @lost gutter 24px
// @lost cycle none

a
  text-decoration none

select
  appearance none
  border-radius 0

input:focus
select:focus
textarea:focus
button:focus
  outline none

html
  font-size 10px

h1
h2
h3
h4
h5
h6
  -webkit-margin-before 0
  -webkit-margin-after 0
  -webkit-margin-start 0
  -webkit-margin-end 0
  font-size 2rem

p
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0

fieldset
  -webkit-margin-start 0
  -webkit-margin-end 0
  -webkit-padding-before 0
  -webkit-padding-start 0
  -webkit-padding-end 0
  -webkit-padding-after 0

button
  color none
  padding 0
  border none
  border-image-source none
  border-image-slice none
  border-image-width none
  border-image-outset none
  border-image-repeat none

ul    
  list-style-type disc;
  -webkit-margin-before 0
  -webkit-margin-after 0
  -webkit-margin-start 0
  -webkit-margin-end 0
  -webkit-padding-start 0

*
  box-sizing border-box

hr
  border 0
  border-top 1px solid #dce0e0

@font-face {
  font-family: 'GloberSemibold';
  src: url('../fonts/glober-semibold/glober_semibold.eot');
  src: url('../fonts/glober-semibold/glober_semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glober-semibold/glober_semibold.woff2') format('woff2'),
       url('../fonts/glober-semibold/glober_semibold.woff') format('woff'),
       url('../fonts/glober-semibold/glober_semibold.ttf') format('truetype'),
       url('../fonts/glober-semibold/glober_semibold.svg#globersemibold_free') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberThin';
  src: url('../fonts/glober-thin/glober_thin.eot');
  src: url('../fonts/glober-thin/glober_thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glober-thin/glober_thin.woff2') format('woff2'),
       url('../fonts/glober-thin/glober_thin.woff') format('woff'),
       url('../fonts/glober-thin/glober_thin.ttf') format('truetype'),
       url('../fonts/glober-thin/glober_thin.svg#globerthin_free') format('svg');
  font-weight: normal;
  font-style: normal;
}



body
  clearfix()
  
.container
  lost-center 1180px
